
body {
    font-family: Arial, 'helvetica Neue', Helvetica, sans-serif;
}

.title {
    font-family: Arial, 'helvetica Neue', Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    height: 80px;
}
h1 {
    font-family: Arial, 'helvetica Neue', Helvetica, sans-serif;
    margin: auto;
    text-align: center;
}
h2 {
    font-family: Arial, 'helvetica Neue', Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    font-size: 40px;
}

#overlay {
    top:0;
    left:0;
    width:100%;
    height:100%;
    position: absolute;
    visibility: visible;
    background-color: gray;
    opacity: .8;
}

h3 {
    color: white;
    font-family: sans-serif;    
}

#overlayh {
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
   display: none;
}

#field {
    width:400px;
    height:400px;
    margin-left:auto;
    margin-right:auto;
    display: block;
    color: white;
    font-family: sans-serif;
    margin-top: 200px;
    
}

.gameboard {
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 25px;
    float: left;
}

#rLineVert {
    width: 30px;
    height: 520px;
    padding: 0px;
    margin: 0px;
    opacity: 0.9;
    position: absolute;
    visibility:hidden
}

#rLineHoriz1 {
    width: 490px;
    height: 30px;
    padding-top: 65px;
    margin: 0px;
    opacity: 0.9;
    position: absolute;
    visibility:visible;
}

#rLineHoriz2 {
    width: 490px;
    height: 30px;
    padding-top: 225px;
    margin: 0px;
    opacity: 0.9;
    position: absolute;
    visibility:visible;
     
}

#rLineHoriz3 {
    width: 480px;
    height: 30px;
    padding-top: 390;
    margin: 0px;
    opacity: 0.9;
    position: absolute;
    visibility:visible;
     
}


#rLineVert1 {
    width: 30px;
    height: 480px;
    padding-left: 65px;
    margin: 0px;
    opacity: 0.9;
    position: absolute;
    visibility:visible;
     
}

#rLineVert2 {
    width: 30px;
    height: 480px;
    padding-left: 228px;
    margin: 0px;
    opacity: 0.9;
    position: absolute;
    visibility:visible;
     
}
#rLineVert3 {
    width: 30px;
    height: 480px;
    padding-left: 390px;
    margin: 0px;
    opacity: 0.9;
    position: absolute;
    visibility:visible;
     
}

#rLineDiag1 {
    width: 480px;
    -webkit-clip-path: polygon(0 4%, 2% 0, 100% 98%, 98% 100%);
    height: 480px;
    margin: 0px;
    opacity: 0.9;
    position: absolute;
    visibility:visible;
     
    
}

#rLineDiag2 {
    width: 480px;
   -webkit-clip-path: polygon(99% 0, 100% 4%, 1% 100%, 0 96%);
    height: 480px;
    margin: 0px;
    opacity: 0.9;
    position: absolute;
    visibility:visible;
     
}

.imgg {
    width:160px;
    height: 160px;
    padding: 0px;
    margin: 0px;
}

.dissableClick {
    pointer-events: none;
    opacity: .6;
}

#statusContain {
    float:left;
    height: 400px;
    width: 300px;
    margin: 0 30 0 30;
}

#restart {
  -webkit-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#restart:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#submit {
  -webkit-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

submit:hover {
  background: #3cb0fd;
  text-decoration: none;
}

#s1 {
    float:left;
    width: 160px;
    Height: 160px;
    border-bottom: 1.25px solid black;
    border-right: 1.25px solid black;
    padding: 0px;
    margin: 0px;
}

#s2 {
    float:left;
    width: 160px;
    height: 160px;
    border-bottom: 1.25px solid black;
    border-right: 1.25px solid black;
    border-left: 1.25px solid black;
    padding: 0px;
    margin: 0px;
}

#s3 {
    float:left;
    Width: 160px;
    Height: 160px;
    border-bottom: 1.25px solid black;
    border-left: 1.25px solid black;
    padding: 0px;
    margin: 0px;
}

#s4 {
    float:left;
    Width: 160px;
    Height: 160px;
    border-bottom: 1.25px solid black;
    border-right: 1.25px solid black;
    border-top: 1.25px solid black;
    padding: 0px;
    margin: 0px;
}

#s5 {
    float:left;
    Width: 160px;
    Height: 160px;
    border: 1.25px solid black;
    padding: 0px;
    margin: 0px;
}

#s6 {
    float:left;
    Width: 160px;
    Height: 160px;
    border-bottom: 1.25px solid black;
    border-left: 1.25px solid black;
    border-top: 1.25px solid black;
    padding: 0px;
    margin: 0px;
}

#s7 {
    float:left;
    Width: 160px;
    Height: 160px;
    border-right: 1.25px solid black;
    border-top: 1.25px solid black;
    padding: 0px;
    margin: 0px;
}

#s8 {
    float:left;
    Width: 160px;
    Height: 160px;
    border-top: 1.25px solid black;
    border-left: 1.25px solid black;
    border-right: 1.25px solid black;
    padding: 0px;
    margin: 0px;
}

#s9 {
    float:left;
    Width: 160px;
    Height: 160px;
    border-left: 1.25px solid black;
    border-top: 1.25px solid black;
    padding: 0px;
    margin: 0px;
}

#playsMade {
    white-space: pre;
    float: left;
    width: 300px;
    height: 320px;
    
}